.navbar-brand img{
    width:180px;
    height: 55px;
}
.navbar-bg{
    background-color:#F0FFF0;;
}
.sign-btn{
    background: #21B573;
    border-radius: 33px;
    padding: 7px 20px;
    border: none;
    color: white;
    
}
.same-height{
    margin-bottom: 50px;
}
.head-highlight{
    color:#21B573;
}
.img-style img{
    width: 400px;
}
.header-bg{
    background-color: #F0FFF0;
    padding: 45px 50px;
     
}
.course-style img{
    width: 66px;
    height:83px;
}
.course-style{
    text-align: center;
    background: #F8FFFB;
    padding: 20px 0px;
    box-shadow: 5px 5px 5px lightgray;  
    border-radius: 10px;
}
.card-footer img{
    height: 20px;
    width: 20px;
}
.card-footer{
    border-top: none;
    background-color: white;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    padding: 30px 10px;
    border-radius: 10px;
}
.test-img img{
    width: 100px;
    margin-left: 168px;
}
.link-style a{
    display: block;
    color:white;
    text-decoration: none;
}
.footer-bg{
    background-color:#282531;
}
.link-style{
    padding: 50px 20px;
}